.App {
  text-align: center;
  font-family: archia;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2A2A2A;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.Level {
  display: flex;
  justify-content: space-around;
}

.Level h1 {
  font-size: 26px!important;
}

.item-level h4,h5{
  text-transform :uppercase;
  font-weight : 900;
}

.item-level h1,h4,h5{
  margin-top: 5px;
  margin-bottom: 5px;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}



.ChartDiv {
  margin-top: 40px;
}
.AdvanceChartOption{
  color :chocolate;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }

  .AdvanceChartOption{
    margin-top: -30px;
    color :chocolate;
  }
  .ChartDiv {
    margin-top: 10px;
  }
}

.ChartDiv1 {
  position: relative;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.confirmed{
  color :chocolate;
}

.active {
  color: #007bff;
}

.recovered {
  color: rgba(40,167,69,.6);
}

.deaths {
  color: purple;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
